<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Aqui encontraras</h4>
          <h2>Todo lo que necesitas</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">All Products</li>
            <li data-filter=".des">Articulos</li>
            <li data-filter=".dev">Cuidado Personal</li>
            <li data-filter=".gra">Suplementos</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            <div class="col-lg-4 col-md-4 all des" *ngFor="let product of products">
              <div class="product-item">
                <a href="#"><img [src]="product.image" alt="" height="300" width="350"></a>
                <div class="down-content">
                  <a href="#">
                    <h4> {{product.name}} </h4>
                  </a>
                  <h6>${{product.price}}</h6>
                  <p> {{product.short_desc}} </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span><a style="color: #f33f3f!important;" (click)="addtoCart(product.id)">Añadir al carrito</a></span>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <!-- ESTA ES LA PAGINACION§  -->
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li *ngFor="let page of [].constructor(6); let i = index" class="page-item" [class.active]="currentPage === i + 1">
              <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>