<router-outlet></router-outlet>
<!-- Page Content -->
<!-- Banner Starts Here -->


<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div class="banner-item-01">
      <div class="text-content">
        <h4>Alcanza tus metas, </h4>
        <h2>supera tus límites.</h2>
      </div>
    </div>
    <div class="banner-item-02">
      <div class="text-content">
        <h4>La fuerza está en ti, </h4>
        <h2>equípate para ganar.</h2> 
      </div>
    </div>
    <div class="banner-item-03">
      <div class="text-content">
        <h4>Tu próximo logro </h4>
        <h2>empieza aquí</h2>
      </div>
    </div>
  </div>
</div>

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Ultimos productos</h2>
          <a (click)="navigate('products')" style="cursor: pointer;">ver todos... <i class="fa fa-angle-right"></i></a>

        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4"*ngFor="let product of products">
            <div class="product-item" >
              <a href="#"><img [src]="product.image" alt=""></a>
              <div class="down-content">
                <a href="#">
                  <h4> {{product.name}} </h4>
                </a>
                <h6>${{product.price}}</h6>
                <p> {{product.short_desc}} </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a style="color: #f33f3f!important;" (click)="addtoCart(product.id)">Añadir al
                    carrito</a></span>
              </div>
            </div>


          </div>
        </div>

      </div>






      
    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Acerca de nuestra tienda deportiva</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>¿Buscas los mejores artículos deportivos?</h4>
          <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">Esta plantilla</a>
            es ideal para promover tu pasión por el deporte. Descubre la mejor calidad y estilo en un solo lugar. <a rel="nofollow" href="https://templatemo.com/contact">Contáctanos</a> para más información.</p>
          <ul class="featured-list">
            <li><a href="#">Productos diseñados para el máximo rendimiento</a></li>
            <li><a href="#">Estilo y comodidad para cualquier disciplina</a></li>
            <li><a href="#">Innovación en cada detalle</a></li>
            <li><a href="#">Calidad garantizada para deportistas exigentes</a></li>
            <li><a href="#">Todo lo que necesitas para alcanzar tus metas</a></li>
          </ul>
          <a href="about.html" class="filled-button">Descubre más</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="assets/images/sport1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
